node_modules
dist
build
.env
.env.local
.DS_Store
npm-debug.log*
coverage
*.tsbuildinfo
uploads/*
!uploads/videos/
!uploads/images/
uploads/videos/*
uploads/images/*
!uploads/videos/.gitkeep
!uploads/images/.gitkeep
